.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 50px;
}
.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 40px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    border-right: 1px solid #d9d9d9;
}
.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after{
    border: none;
}

.listFilm-btn {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    height: 80%;
    border-radius: 8px;
    margin-left: 5px;
}

.listFilm-btn:hover {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    align-items: center;
}

.ant-divider-horizontal.ant-divider-with-text{
    margin-top: -20px;
    margin-bottom: 20px;
}

.cardListFilm img{
    position: relative;
}

.cardListFilm .listFilm__play{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
}

.ant-card-hoverable:hover .listFilm__play {
    opacity: 1;
    transition: all 500ms;
    

}


.ant-card-hoverable:hover .listFilm__overLay{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0));
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0%;
    left: 0%;
}