.checkOut{
    height: 100%;

}
.checkOut__text{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
}
.checkOut__btn{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    
}

.ghe {
    height: 45px;
    width: 45px;
    margin: 10px;
    background-color: grey;
    border-color: grey;
    border-radius: 10px;
    cursor: pointer;
    color: blanchedalmond;
}
/* .ghe:hover, .ghe:focus{
    background-color: seagreen;
} */

.gheVip{
    background-color: orange;
    border-color:orange;

}

.gheDaDat{
    background-color: red !important;
    cursor: no-drop;
}

.gheDangDat{
    background-color: steelblue;

}

.gheMinhDat{
    background-color: seagreen;

}