.checkOut {
    height: 100%;
}
.checkOut__text {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
}
.checkOut__btn {
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.ghe {
    height: 45px;
    width: 45px;
    margin: 10px;
    background-color: grey;
    border-color: grey;
    border-radius: 10px;
    cursor: pointer;
    color: blanchedalmond;
}
/* .ghe:hover, .ghe:focus{
    background-color: seagreen;
} */

.gheVip {
    background-color: orange;
    border-color: orange;
}

.gheDaDat {
    background-color: red !important;
    cursor: no-drop;
}

.gheDangDat {
    background-color: steelblue;
}

.gheMinhDat {
    background-color: seagreen;
}

@media screen and (max-width: 1600px) {
    .ghe {
        margin: 5px;
    }
}
@media screen and (max-width: 1320px) {
    .ghe {
        height: 40px;
        width: 40px;
        margin: 5px;
    }
}
@media screen and (max-width: 1200px) {
    .ghe {
        height: 35px;
        width: 35px;
        margin: 3px;
    }
}
@media screen and (max-width: 660px) {
    .ghe {
        height: 30px;
        width: 30px;
        margin: 2px;
        font-size: 10px;
    }
}
@media screen and (max-width: 545px) {
    .ghe {
        height: 20px;
        width: 20px;
        margin: 2px;
        font-size: 10px;
    }
}
@media screen and (max-width: 385px) {
    .ghe {
        height: 15px;
        width: 15px;
        margin: 2px;
        font-size: 8px;
    }
}