.carousel__img {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.carousel__img:hover .playBtn {
    opacity: 1;
    transition: all 0.5s;
}
.playBtn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.ant-carousel .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
}
.ant-carousel .slick-dots{
    z-index: 0;
}
.ant-carousel .slick-dots li.slick-active button {
    background: #fb4226;
}
.ant-carousel .slick-dots li.slick-active {
    width: 12px;
    height: 12px;
}

.ant-carousel .slick-prev ,
.ant-carousel .slick-next {
    right: 30px;
    width: 50px;
    height: 100px;
}
.ant-carousel .slick-prev::before {
    content: "<";
}
.ant-carousel .slick-prev {
    left: 1%;
    z-index: 1;
}
.ant-carousel .slick-next {
    right: 1%;
}
.ant-carousel .slick-next::before {
    content: ">";
}
.ant-carousel .slick-arrow::before {
    font-size: 80px;
    /* color: rgba(255, 255, 255, 0.34); */
    color: black;
}
