.quanLyPhim .ant-table-cell{
    text-align: center;
}



@media screen and (max-width:1050px) {
    .quanLyPhim .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 0 !important;
        font-size: 12px;
    }
}

@media screen and (max-width:720px) {
    .quanLyPhim .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 0 !important;
        font-size: 10px;
    }
}

@media screen and (max-width:658px) {
    .quanLyPhim .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 0 !important;
        font-size: 10px;
    }
    .quanLyPhim .ant-space {
        display: block;
    }
    .themPhimDrawer .ant-drawer-content-wrapper {
        width: 400px !important;
    }
    .editPhimDrawer .ant-drawer-content-wrapper {
        width: 400px !important;
    }
    .taoLichChieuDrawer .ant-drawer-content-wrapper {
        width: 400px !important;
    }
}


@media screen and (max-width:540px) {
    .quanLyPhim .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 0 !important;
        font-size: 8px;
    }
}
